<div class="main">
    <% if @project %>

        <h1>Tasks for - <%=@project.title%></h1>

        <%= render partial: "search_form", locals: { url_path: project_tasks_path(@project) } %>

    <% else %>

        <h1>All Tasks</h1>

        <%= render partial: "search_form", locals: { url_path: tasks_path } %>

    <% end %>

    <%= link_to 'Tasks Due Soon', tasks_upcoming_dates_path %>

    <%= render partial: "tasks", locals: { tasks: @tasks } %>

</div>

