<% if @task.post %>
    <h1>New Task for <%= @task.project.title%>!</h1>
<% else %>
    <h1>New Task</h1>
<% end %>



<%= render partial: "layouts/errors", locals: {object: @task} %>

<%= form_for([@task.project,@task]) do |f|%>

 <% if !@task.project %>
    <%= f.label :project %>
    <%= f.collection_select :project_id, Project.all, :id, :title %>
<% else %>
    <%= f.hidden_field :project_id %>
<% end %>

    <%= f.label :name, "Name of task" %>
    <%= f.text_field :name %>

    <%= f.label :description, "Description of the Task " %>
    <%= f.text_area :description %>

    <%= f.label :due_by, "When is the Task Due?" %>
    <%= f.date_field :due_by %>

    <%= f.submit %>

<% end %>