<h1>My Projects</h1>

<% if @projects.blank? %>

    <h1>You don't have any projects yet</h1>

<% else %>

    <% @projects.each do |p|%>
        <h1><%= link_to p.title, project_path(p) %><h1>
        <h2>Project Description: <%=p.description%></h2>

        <% p.tasks.each do |t|%>
            <h3>Tasks:</h3>
                <ul>
                    <li>
                        Task Name: <%=t.name%>
                        <br>
                        Task Description: <%=t.description%>
                        <br>
                        Task Due By: <%=t.due_by.strftime("%m/%d/%Y")%>
                        <br>
                        <%= link_to 'View Task', task_path(t)%>
                    </li>
                </ul>
        <% end %>
    <% end %>

<% end %>



