<h1>My Projects</h1>

<% @projects.each do |p|%>
    <h1><%=p.title%></h1>
    <h2><%=p.description%></h2>
    <h3>Tasks:</h3>
        <% p.tasks.each do |t|%>
            <ul>
                <li>Task Name: <%=t.name%><br> Task Description: <%=t.description%><br> Task Due By: <%=t.due_by.strftime("%m/%d/%Y")%></li>
            </ul>
        <% end %>
<% end %>



