<% if projects.empty? %>

    <h2>No projects yet. Create a project <%= link_to "here", new_project_path%></h2>

<% else %>

    <% projects.each do |p|%> 

        <h1><%=p.title%></h1>

        <h4><u>Goal:</u> <%= p.description %></h4> 

        <h4><u>Due:</u> <%= pretty_date(p.due_date)%></h4> 

        <h4><u>Tasks:</u> <%= p.tasks.size %></h4>

        <%=link_to "Click here to view the project", project_path(p)%>

    <% end %>

<% end %>

