  
<h1>New Project</h1>


<%= render partial: "layouts/errors", locals: {object: @project} %>
<!-- render the errors partial, send it the @post as the 'object' -->

<%= form_for(@project) do |f|%>

    <%= f.label :title, "Project Title" %><br>
    <%= f.text_field :title %>
    <br><br>
    <%= f.label :description, "Description of the Project" %><br>
    <%= f.text_area :description %>
    <br><br>
    <%= f.label :due_date, "When is the Project Due?" %><br>
    <%= f.date_field :due_date %>
    <br><br>
    <%= f.submit "Create Project" %>

<% end %>