<h1><%=@project.title%></h1>
<h4>Project Created By: <%=link_to @project.user.name, user_path(@project.user)%> </h4>

<div>
    <strong>Project Description:</strong><br>
    <%=@project.description%>
</div>
<br>
<div>
    <strong>Project Due Date:</strong><br>
    <%=@project.due_date.strftime("%m/%d/%Y")%>
</div>

<% if @project.user == current_user %>
<h4><%= link_to "Edit Project", edit_project_path(@project)%></h4>
<% end %>

<p><%= link_to 'Add a new task', new_project_task_path(@project)%></p>

<p><%= link_to 'See all tasks', project_tasks_path(@project) if !@project.tasks.empty? %></p>