  
<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body style=" background-color:#ddd; padding:10px; text-align:center; ">

    <div>
      <% if logged_in?%>
        <%= link_to "Add Project", new_project_path %> |
        <%= link_to "All Projects", projects_path %> |
        <%= link_to "My Projects", users_projects_path %> |
        <%= link_to "Most Tasks", projects_most_tasks_path %> |
        <%= link_to "Add a Task", new_task_path %> |
        <%= link_to "Home", user_path(current_user)%> |
        <%= link_to "Logout", logout_path, method:"delete"%>

      <% else %>
        <a><%=link_to "Sign Up", signup_path %></a> |
        <a><%=link_to "Log In", login_path %></a> |
        <a><%= link_to "Log In With Google", '/auth/google_oauth2'%></a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
